__pycache__/
*.pyc
.venv/
venv/
env/
.idea/
.vscode/

*.log

results/raw/*
results/processed/*
!results/raw/.gitkeep
!results/processed/.gitkeep

datasets/*
!datasets/README.md
!datasets/splits/
!datasets/splits/.gitkeep

*.pt
*.pth
*.ckpt
*.h5
